{# src/Uknow/PlatformBundle/Resources/views/profil.html.twig#}

{% extends "UknowPlatformBundle::index.html.twig" %}

{% block title %}Compte{% endblock %}

{% block contenu %}
    <div class="row">
        <div class="col-md-9" style="padding: 0; position: fixed; z-index: 1">
            <div class="titre">Compte</div>
        </div>
    </div>
    <div class="row" style="margin-top: 36px">
        <div class="col-md-9">
            <strong>Adresse Mail :</strong> {{ profil.email }}
            <br/>
            <a href="{{ path('fos_user_security_logout') }}">Se déconnecter ?</a>
        </div>
    </div>

{% endblock %}