{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Connexion{% endblock %}

{% block fos_user_content %}
{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="form-group">
        <input class="form-control" type="text" id="email" name="_email" required="required" placeholder="Adresse Mail"/>
    </div>

    <div class="form-group">
        <input class="form-control" type="password" id="password" name="_password" required="required" placeholder="Mot de passe"/>
    </div>

    <div class="form-group">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">Se souvenir de moi</label>
    </div>

    <div class="form-group">
        <div class="col-md-6">
            <input class="btn btn-default" type="submit" id="_submit" name="_submit" value="Connexion" />
        </div>
        <div class="col-md-6">
            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-default" role="button">Nouveau ?</a>
        </div>
    </div>
</form>
{% endblock fos_user_content %}
