html, body
{
    background-color: #83BBF1;
    text-align: center;
    color: #FFFFFF;
    height: 100%;
}

h1
{
    font-size: 50px;
}

h4
{
    text-align: justify;
}

.espace1
{
    height: 15%;
}

.espace2
{
    height: 20%;
    text-align: center;
}

#footer
{
    bottom : 0;
    position: absolute;
    width: 100%;
    text-align: center;
}

.police3
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.police4
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}