{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Confirmation{% endblock title %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    <p><a href="{{ path('uknow_platform_recherche_acceuil')}}"><button class="btn btn-primary">Accéder à Uknow !</button></a></p>
{% endblock fos_user_content %}
