{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if app.session is not empty %}
       <p><a href="{{ path('uknow_platform_recherche')}}">Accéder à Uknow !</a></p>
    {% endif %}
{% endblock fos_user_content %}
