.null{
    padding: 0;
    margin: 0;
    display: inline-block;
}

.donnee
{
    width: 230px;
    background-color: #f5f5f5;
    margin: 10px;
    display: inline-block;
}

h5.titre
{
    background-color: #555;
    color: #ffffff;
    height: 100px;
}

#btn-rd-eva
{
    height: 32px;
    border-radius: 16px;
    padding: 3px 7px;
    color: #fff;
    font-size: 0.9em;
    text-align: center;
}

.bouton
{
    display: inline-block;
    float:right;
}

.lien
{
    text-align: center;
    font-style: italic;
}

.jugement
{
    font-style: italic;
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
}

#textedonnee
{
    border: 1px solid black;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: none;
}

#temps
{
    float: right;
    font-size: 1.0em;

}

#ajour
{
    float: left;
    font-size: 1.0em;
}

#fiable
{
    font-size: 1.0em;
}