{# src/Uknow/PlatformBundle/Resources/views/navigation/home.html.twig#}

<div class="col-md-offset-1 col-md-1" style="text-align: center">
    <a href="{{ path('uknow_platform_recherche_acceuil')}}" class="lienBouton">
        <button class="btn btn-default" id="btn-rd">
            <img src="{{ asset('images/logo-icon-noire-gd.png')}}"/>
        </button>
    </a>
</div>