{# src/Uknow/PlatformBundle/Resources/views/navigation/home.html.twig#}

<div class="col-xs-offset-1 col-xs-1" style="text-align: center">
    <a href="{{ path('uknow_platform_recherche_acceuil')}}" class="lienBouton">
        <button class="btn btn-default" id="btn-rd" style="outline: none;">
            <img src="{{ asset('images/logo-icon-noire-gd.png')}}"/>
        </button>
    </a>
</div>