{# src/Uknow/PlatformBundle/Resources/views/erreur.html.twig#}

{% extends "UknowPlatformBundle::index.html.twig" %}

{% block title %}Erreur{% endblock %}

{% block contenu %}
    <div class="row">
        <div class="col-md-9">
            <h2>Bonjour,<br/>la page que vous cherchez n'existe pas, ou plus.. <br/>'Fin, j'en sais rien, j'la trouve pas.<br/><br/>Cordialement,<br/>le concierge.</h2>
        </div>
    </div>
{% endblock %}