{# src/Uknow/PlatformBundle/Resources/views/erreur.html.twig#}

{% extends "UknowPlatformBundle::index.html.twig" %}

{% block title %}Erreur{% endblock %}

{% block contenu %}
    <div class="row">
        <div class="col-md-9" style="padding: 50px">
            <h2>Bonjour,<br/><br/>La page que vous cherchez n'a pas été encore été crée, ou elle n'existe pas, ou plus... <br/>'fin, j'en sais rien, j'la trouve pas.<br/><br/>Cordialement,<br/>le concierge.</h2>
        </div>
    </div>
{% endblock %}